.post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 30px 0;
  background-color: rgb(126, 169, 183);
}

.postContainer {
  padding: 10px;
  /* background-color: red; */
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
}

.topLeftPost {
  /* background-color: rebeccapurple; */
  display: flex;
  align-items: center;
  /* margin-left: 640px; */
  /* float: right; */
  /* justify-content: right; */
  /* align-content: right; */
  /* justify-content: space-between; */
  /* text-align: right; */
  /* align-items: end; */
  position: relative;
  right: end;
  /* top: 0px; */
  float: right;
  /* margin-bottom: 50px; */
}

.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.postName {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.postDate{
    font-size: 12px;
}

.centerOfPost{
    margin: 50px 0;
    border: 2px solid rgb(111, 152, 163);
    background-color: rgb(108, 145, 156);
    border-radius: 8px;
}

.textOfPost{
  margin-left: 10px;
}

.imgOfPost{
    margin-top: 20px;
    margin-bottom: 15px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.bottomOfPost{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottomOfPostLeft{
    display: flex;
    align-items: center;   
    /* margin-left: 30px; */
    /* float: right; */
    /* position: relative; */
    /* right: end; */
    /* top: 0px; */
    /* float: right; */
    /* background-color: red; */
}

.iconOfLike{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.likesOnPost{
    font-size: 15px;
}