.share {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  background-color: rgb(120, 164, 178);
}

.share:hover {
  scale: 1.01;
  transition: scale 0.25s ease-in;
}

.shareWrapper {
  padding: 10px;
}

.shareTop {
  display: flex;
  align-items: center;
}

.shareProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  margin-left: 10px;
}

.shareInput {
  border: none;
  width: 100%;
  height: 30px;
  background-color: rgb(181, 213, 222);
  border: 3px dotted rgb(161, 228, 248);
  border-radius: 8px;
}

.shareInput:focus {
  outline: none;
}

.shareHr {
  margin: 20px;
}

.shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgb(111, 152, 163);
  background-color: rgb(108, 145, 156);
  border-radius: 8px;
  height: 40px;
}

.shareOptions {
  display: flex;
  margin-left: 20px;
}

.shareOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.shareIcon {
  font-size: 18px;
  margin-right: 3px;
}

.shareOptionText {
  font-size: 14px;
  font-weight: 500;
}

.shareButton {
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: rgb(47, 108, 193);
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;
  color: white;
}

.shareButton:hover {
  background-color: rgb(43, 91, 158);
  font-weight: 600;
  padding: 8px;
}

.shareImgContainer {
  padding: 0 20px 10px 20px;
  position: relative;
}

.shareImg {
  width: 100%;
  object-fit: cover;
}

.shareCancelImg {
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
  opacity: 0.7;
}
